<tr>
    <!-- customer name cell will be populated from pop-up modal asking customer name -->
    <td>{{dataValues.customername}}</td>
    <td>{{dataValues.burgername}}</td>
    <!-- location cell will be populated from same pop-up modal asking where they are -->
    <td>Some Location</td>
</tr>