<tr>
    <!-- customer name cell will be populated from pop-up modal asking customer name -->
    <td>{{customername}}</td>
    <td>Some Burger</td>
    <!-- location cell will be populated from same pop-up modal asking where they are -->
    <td>{{location}}</td>
</tr>