<tr>
    <td>{{dataValues.creator}}</td>
    <td>{{dataValues.burgername}}</td>
    <td><button type="submit" id="add-ingredient" data-id="" data-burger-name="" class="btn btn-light">Add
            Ingredients</button>
    </td>
    <td><button type="submit" id="edit-burger" data-id="" data-burger-name="" class="btn btn-light">Edit</button>
    </td>
</tr>