<tr>
    <td>{{dataValues.creator}}</td>
    <td>{{dataValues.burgername}}</td>
    <td><button type="button" id="try-burger" data-id="" data-burger-name="" class="btn btn-light">Try it!</button>
    </td>
</tr>