<tr>
        <td>{{dataValues.creator}}</td>
        <td>{{dataValues.burgername}}</td>
        <td><button type="button" id="try-burger" data-id="{{dataValues.id}}" data-newDevoured="{{dataValues.devoured}}"
                        class="eatBurger btn btn-light">Try it!</button>
        </td>
        <td class="custName"><input value="" class="form-control" type="text" placeholder="your name" required></td>
</tr>