<!-- Results -->
<h3>Big "Burger" Data</h3>
<p>Want to see who's eating which of our burgers and where? Click on a button below to view our data!</p>

<!-- buttons to filter & sort by certain criteria -->
<div class="filterButtons">
    <button type="button" class="btn btn-outline-dark" id="most-recent" onclick="#">View Most Recent</button>

    <button type="button" class="btn btn-outline-dark" id="by-customer" onclick="#">View by Customers</button>

    <button type="button" class="btn btn-outline-dark" id="num-by-loc" onclick="#">View Number by Location</button>

    <button type="button" class="btn btn-outline-dark" id="burg-by-loc" onclick="#">View Burgers by Location</button>

    <button type="button" class="btn btn-outline-dark" id="custBurg-by-loc" onclick="#">View Customers & Burgers by
        Location</button>
</div>

<!-- table to show Try It button data -->
<table class="table table-dark">
    <caption>Recent Burgers Eaten by our Customers</caption>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Burger</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        <!-- each row will be populated from button id -->
        <tr>
            <!-- customer name cell will be populated from pop-up modal asking customer name -->
            <td>Some guy</td>
            <td>The Big Lebowski</td>
            <!-- location cell will be populated from same pop-up modal asking where they are -->
            <td>Pensacola, FL</td>
        </tr>
    </tbody>
</table>