<p>Have you tried one of our burgers? Click on the <em>try it!</em> button to let us know.</p>

<!-- table to show user entered data -->
<table class="table table-dark">
    <caption>Suggested Burgers</caption>
    <thead>
        <tr>
            <th>Suggested By</th>
            <th>Burger</th>
            <th>Eat This Burger?</th>
        </tr>
    </thead>
    <tbody>
        <!-- each row will be populated by user input & added to DB -->
        <tr>
            <td>The Dude</td>
            <td>The Big Lebowski</td>
            <td><button type="submit" id="try-burger" data-id="" data-burger-name="" class="btn btn-light">Try
                    it!</button>
            </td>
        </tr>
    </tbody>
</table>