<img src="/assets/img/burger.png">

<form class="create-form">
  <div class="form-group">
    <input type="text" class="form-control" id="burger" placeholder="Burger Name" name="burger">
  </div>
  <button type="submit">Add Burger</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Burgers to Eat</th>
      <th>Burgers Eaten</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {{> burgers/burger-block eat=false}}
    </tr>
    <tr>
        {{> burgers/burger-block eat=true}}
    </tr>
  </tbody>
</table>
