<img src="/assets/img/burger.png">

<p>Enter the name of burger you'd like to eat. Click the "submit" button.</p>

<form class="create-form">
  <div class="form-group">
    <input type="text" class="form-control" id="burger" placeholder="Burger Name" name="burger">
  </div>
  <button type="submit">Add Burger</button>
</form>

<div class="burgerResults">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Burgers to Eat</th>
      </tr>
    </thead>
    <tbody id="not-eaten">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block eat=true}}
        {{/unless}}
      {{/each}}
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Burgers Eaten</th>
        <th>{{> burgers/burger-deleteAll}}</th>
      </tr>
    </thead>
    <tbody id="eaten">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block eat=false}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>