<div class="buttons-inline">
  <a class="btn btn-dark" href="/suggest">
    <i class="fas fa-hamburger"></i> Suggest a New Burger</a>

  <a class="btn btn-dark" href="/eat">
    <i class="fas fa-utensils"></i> Eat a Burger</a>

  <a class="btn btn-dark" href="/bigData">
    <i class="fas fa-table"></i>View Burger Big Data
  </a>
</div>