body{
    background-color: #FCF3CF;
}
.container{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: auto;
    align-items: center;
}
img{
    width: 300px;
    padding: 10px;
    align-items: center;
}
form{
    margin: auto;
    width: 50%;
}
table{
    margin: 20px;
}

.burgerResults{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}