<td>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#unless eat}}Devour Me!{{/unless}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</td>
